.attribution {
    margin-bottom: 1.5rem;
    font-size: 0.688rem;
    text-align: center;

    a {
        color: $theme-primary-color;

        &:hover {
            color: $theme-neutral-grayish-color;
        }
    }

    @include query($screen-rwd) {
        position: absolute;
        bottom: 0;
    }
}